.biomeCheckmark {
    position: absolute !important;
    background-color: #cc6528;
    display: none;
    right: 0px;
    top: 0px;
    height: 25px !important;
    width: 25px !important; 
    border-radius: 5px !important;
    z-index: 4;
}

.biomeSelected {
    display: block;
}

.worldSettings {
    /* uwu */
}

.worldSettingsGrid {
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    display: grid;
}

.worldInputHolder {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 5px;
    width: 100%;
    height: 50px;
}

.worldInputHolder p {
    width: 100px;
    line-height: 50px;
    margin: 0px;

    font-family: sans-serif;
    color: #cc6528;
    text-align: right;

}

.worldInputHolder input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 12.5px;
    height: 25px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.worldInputHolder > input:invalid {
    background-color: red;
    outline: none;
}

.worldInputHolder input:hover {
    outline: none;
}

.worldEventHolder > input:active {
    outline: none;
}

.worldInputHolder > div {
    margin-top: 12.5px;
}

.worldEventHolder {
    display: grid;

    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 1fr;
    grid-gap: 5px;

    width: 100%;
    height: auto;

    grid-column-start: 1;
    grid-column-end: 4;

    box-sizing: border-box;
    padding: 5px;
    border: 5px solid #cc6528;
    border-radius: 15px;
}

.worldEventHolder p {
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    color: #cc6528;
}

.eventRandomButton {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.worldRandomButton img {
    width: 100%;
    height: 100%;
}

.sponsors {
    width: 100%;
    height: 25px;
    margin-top: 12.5px;
    background-color: white;
    border-radius: 5px;

    font-family: sans-serif;
    text-align: center;
    line-height: 25px;

    cursor: pointer;

    user-select: none;
}

.worldEventList {
    grid-column-start: 1;
    grid-column-end: 4;
}

.worldEventListItem {
    position: relative;
    width: 100%;
    max-height: 25px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-column-gap: 5px;
}

.worldEventListItem:last-child {
    max-height: 50px;
}

.worldEventListItem:hover {
    z-index: 2;
}

.worldEventListItem:not(:hover) {
    z-index: 1;
}

.worldEventListItem:not(:first-child) {
    margin-top: 5px;
}

.dayButton {
    background-color: #cc6528;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    color: white;
    font-family: sans-serif;
    line-height: 25px;
    text-align: center;
}

/* also has base dayButton class */
.dayAddButton {
    height: 50px;
}

.dayAddButton img {
    width: 100%;
    height: 100%;
}

.eventHolder {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    height: 25px;
}

.eventButtonHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.eventRemoveButton {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    display: block;
    position: relative;

    background-image: url(../images/minus.svg);

    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;

    background-color: lightgray;
}

.eventAddButton {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    display: block;
    position: relative;

    background-image: url(../images/plus.svg);

    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;

    background-color: lightgray;
}

.eventDropdown {
    width: 100%;
    height: fit-content;
}

.eventDropdown p {
    user-select: none;
    position: relative;
    z-index: 1;

    box-sizing: border-box;
    padding: 5px;
    line-height: 15px;
    height: 25px;
    width: 100%;

    background-color: white;
    border-radius: 5px;

    color: black;
    font-family: sans-serif;
    text-align: center;
}

.eventDropdownContainer {
    position: relative;
    z-index: 2;
    margin-top: -25px;
    display: none;
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    height: min-content;
}

.eventDropdown:hover .eventDropdownContainer {
    display: block;
}

.eventDropdown:active .eventDropdownContainer:not(.biomeList) {
    display: none;
}

.dropdownCooldown:hover .eventDropdownContainer {
    display: none;
}

.eventDropdownContainer div {
    position: relative;

    text-align: center;
    font-family: sans-serif;

    line-height: 25px;
    height: 25px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.eventDropdownContainer div:hover {
    background-color: #f4e2d7;
}

.eventDropdownContainer:not(.biomeList) div:first-child {
    background-color: white;
}

.worldArea {
    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    margin-top: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr min-content;
    grid-gap: 5px;
    width: 100%;
}

.makeWorldButton {
    width: fit-content;
    height: 25px;
    background-color: lightgray;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;

    line-height: 25px;
    text-align: center;
    
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 5px;
    border: 0px;

    cursor: pointer;
}

.worldMapDisplay {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 500px;

    border-radius: 5px;
    overflow: hidden;
}

.startGameButton {
    background-color: lightgray;
    border-radius: 5px;
    width: 500px;
    height: 25px;

    margin-right: auto;
    margin-left: auto;

    line-height: 25px;
    text-align: center;
    font-family: sans-serif;
    cursor: pointer;
}